.chart {
    margin-top: 20px;

    box-shadow: -3px 10px 12px -3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -3px 10px 12px -3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -3px 10px 12px -3px rgba(0, 0, 0, 0.58);

    .title {
        font-size: 30px;
        padding-left: 40px;
        padding-bottom: 20px;
        color: gray;
    }

    .grid {
        stroke: lightgray;
    }
}