.navbar {
    background: linear-gradient(120deg, #0cf9e5, #5f86ea);


    height: 90px;

    border-bottom: 2.5px solid gray;

    .wrapper {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 90px;

        .items {
            display: flex;
            align-items: center;
            justify-content: center;



            .item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 30px;
                font-size: 20px;
                color: rgb(121, 122, 123);

                .icon {
                    font-size: 40px;
                    padding: 2px;
                    cursor: pointer;
                    color: white;

                    &:hover {
                        background-color: rgb(243, 243, 243);
                        border-radius: 8px;
                        color: rgb(85, 50, 20);
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    }
                }

                .avtar {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    border: 0.5px solid gray;
                }

                .counter {
                    background-color: red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    color: white;
                    font-size: 15px;
                    font-weight: bold;
                    position: absolute;
                    right: -2px;
                    top: -5px;
                }

            }
        }

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.5px solid gray;


            input {
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }

}